.breed-details {
    background-color: red;
  }
  
  ion-card {
    margin: 16px;
  }
  
  ion-card-title {
    font-size: 24px;
  }
  
  .temperament {
    font-weight: bold;
  }
  
  .description {
    margin-top: 8px;
  }
  .breed-image {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
  }
  
  