
  ion-card {
    margin: 16px;
  }
  
  ion-card-title {
    font-size: 24px;
  }
  
  .temperament {
    font-size: larger;
  }
  
  .description {
    margin-top: 8px;
  }
  .breed-image {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
  }

  .life_span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 20%;
    font-weight: 500;
    font-size: large;
  }
  
  