<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-icon name="paw-outline" style="font-size: 32px; margin-right: 8px;"></ion-icon>
    <ion-title style="font-weight: bold; font-size: 18px; font-family: cursive;">Dog Breeds Searcher</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <ion-searchbar class="barraPesquisa" [(ngModel)]="searchTerm" (ionChange)="search()" placeholder="Search for breeds" showCancelButton="focus" cancelButtonText="Cancel" animated="true" style="--placeholder-color: #000000; --placeholder-font-style: italic; --placeholder-font-weight: bold; ">
    
  </ion-searchbar>
   

  <ion-list class="bkg">
    <ion-item button *ngFor = "let breed of filteredBreeds" [routerLink]="['/', 'breed-details', breed.id]">
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-label text-wrap>
        <h3>{{breed.name}}</h3>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
