<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-icon name="paw-outline" style="width:100px ;"></ion-icon>
    <ion-title style="font-weight: lighter; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 22px;">Dog Breeds Searcher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('../../assets/dog_background.jpg');">
  <ion-searchbar class="barraPesquisa"[(ngModel)] ="searchTerm" (ionChange)="search()"></ion-searchbar>  

  <ion-list>
    <ion-item button *ngFor = "let breed of filteredBreeds" [routerLink]="['/', 'breed-details', breed.id]">
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-label text-wrap>
        <h3>{{breed.name}}</h3>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
